# 반복문 for, while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용하는 명령
* for, while 두 종류의 반복문이 있음.
* for는 반복 횟수가 정해져 있는 경우에 사용.
* while은 반복 횟수가 정해지지 않은 경우에 사용.

## for 반복문 : 반복할 횟수가 정해져 있는 경우
for 변수 in 반복할 객체, 자료:<br>
____반복할 코드

In [1]:
# for 문을 이용해서 1-10 숫자 출력
for i in range(1,11):
    print(i, end =" ")

1 2 3 4 5 6 7 8 9 10

* 순서가 있는 자료형은 모두 for 문에 사용 가능
    * 문자열, list, tuple

In [2]:
for char in "파이썬":
    print(char, end=" ")

파 이 썬

In [3]:
for item in [1, 2, 3, 4, 5]:
    print(item, end = " ")

1 2 3 4 5

In [4]:
L = [1,2,3,3, "문자열", [1,2,3], (4,5,6), {'key':'value'}]

In [5]:
for item in L:
    print(item, end = " ")

1 2 3 3 문자열 [1, 2, 3] (4, 5, 6) {'key': 'value'}

In [6]:
T = tuple(L)
for item in T:
    print(item, end = " ")

1 2 3 3 문자열 [1, 2, 3] (4, 5, 6) {'key': 'value'}

In [7]:
d = dict(번호=1, 주소='서울', 전화번호='010-1234-5678', 이름='홍길동')
for key in d:
    print(d[key], end=" ")
#딕셔너리는 반복문에 넣었을 때 key만 출력되므로, value 넣기 위해서는 key로 value 호출하기

1 서울 010-1234-5678 홍길동

In [8]:
for key in d:
    print(d.get(key,0), end = " ")
#key가 없으면 0으로 출력해라.

1 서울 010-1234-5678 홍길동

In [9]:
for k,v in d.items():
    print(k,v)

번호 1
주소 서울
전화번호 010-1234-5678
이름 홍길동

In [10]:
#for 반복문을 이용해서 1부터 10까지 정수를 더한 합만을 출력하세요.
L = []
for i in range(1,11):
    L.append(i)
print(sum(L))

55

In [11]:
#1~100까지 곱한 값을 출력하세요.
num = 1
for i in range(1,101):
    num *= i
print(num)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

1~50까지 수 중에서 짝수인 수의 합을 구하시오.
* 1-50 수를 만들기
* 홀 짝 구분 if else
* 짝수면 덧셈 누적합
* print()

In [12]:
num = 0
for i in range(1,51):
    if i % 2 == 0:
        num += i
    else:
        pass
print(num)

650

In [13]:
#1부터 100까지의 수 중에서 7의 배수만 찾아 곱한 값을 출력하세요.
num = 1
for i in range(1,101):
    if i % 7 == 0:
        num *= i
    else:
        pass
print(num)

59126328543388935628800

In [23]:
#1부터 100까지 수를 만들고 그 중 30~70까지만 더해서 출력하세요.
num = 0
for i in range(1,101):
    if 30 <= i <= 70:
        num += i
    else:
        pass

print(num)

2050

In [24]:
my_list = list(range(1,101)) #range 슬라이싱할 때 인덱스 번호 달라지는 것 주의

sum(my_list[29:70])

2050

In [27]:
L1 = list(range(1,10,2))
L2 = list(range(0,10,2))
print(L1)
print(L2)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [29]:
temp = 0
for num, num2 in zip(L1, L2):
    temp = num + num2
    print(num, num2, temp)

1 0 1
3 2 5
5 4 9
7 6 13
9 8 17

enumerate(): index를 만들어주는 함수

In [32]:
for index, char in enumerate("파이썬은 문자열을 반복문에 넣어 출력 가능"):
    print(index, char, end= "")

0 파1 이2 썬3 은4  5 문6 자7 열8 을9  10 반11 복12 문13 에14  15 넣16 어17  18 출19 력20  21 가22 능

In [36]:
for index, num1 in enumerate(zip(L1, L2)):
    print(num1)
    print(len(num1))

(1, 0)
2
(3, 2)
2
(5, 4)
2
(7, 6)
2
(9, 8)
2

1-10 까지 숫자를 만들고 역순으로 출력하세요

In [43]:
for num in range(10,0,-1):
    print(num, end= " ")

10 9 8 7 6 5 4 3 2 1

In [40]:
for num in reversed(range(1,11)):
    print(num, end= " ")

10 9 8 7 6 5 4 3 2 1

In [42]:
for num in range(1,11)[::-1]:
    print(num, end= " ")

10 9 8 7 6 5 4 3 2 1

In [48]:
for num in range(1,11, 2):
    print(num, end= " ")

1 3 5 7 9

# while 반복할 횟수가 정해지지 않은 경우
* 무한 반복 가능
* 무한 반복 되지 않도록 조건식을 잘 짜주는 것이 중요

In [ ]:
#while문을 이용해서 1-10까지 더해서 결과를 출력하세요.
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1

In [ ]:
# 웹 크롤링시, while 많이 사용
# while문을 이용해서 1-10까지 더해서 결과를 출력하세요.
i = 1
hap = 0
while i <= 10:
    hap += i
    i += 1
print(hap)

In [ ]:
#20에서 1까지 숫자를 더한 값을 출력하세요.
i = 20
hap = 0
while i > 0:
    hap += i
    i -= 1
print(hap)

In [ ]:
#1-50 까지 수 중에서 3의 배수이거나, 짝수인 수를 찾아서 더한 값을 출력하시오.
i = 1
hap = 0
while i <= 50:
    if i % 3 == 0 or i % 2 ==0:
        hap += i
    i += 1
print(hap)

In [ ]:
# #반복 횟수가 정해지지 않은 경우: 무한반복
# while True:
#     print("무한반복")