# 서식지정자, format 메서드
* 서식 지정자나 format method를 사용하는 이유는 문자열로만 입력해야 하는 상황에서 같은 위치의 문자를 여러번 바꿔야 할 때가 있기 때문
* 문자의 자릿수 맞춤, 위치 정렬 등에도 사용

### 1. 서식지정자 %d, %s, %f, %길이s
* 문자를 입력할 때 %s

In [ ]:
print('이 수업의 이름은 %s 입니다.' % '핀테크 서비스 기획자')

In [2]:
subject = ['국어','영어','수학','과학','파이썬','database']

In [6]:
for sub_name in subject:
    print('이 수업의 이름은 %s 입니다.' % sub_name)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 영어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 과학 입니다.
이 수업의 이름은 파이썬 입니다.
이 수업의 이름은 database 입니다.

In [7]:
print('올해는 %d년 입니다.' % 20.74)

올해는 20년 입니다.

In [11]:
year = [2019, 2020, 2021, 2022, 2023, 2024]
for yyyy in year:
    print('올해는 %d년 입니다' % yyyy)

올해는 2019년 입니다
올해는 2020년 입니다
올해는 2021년 입니다
올해는 2022년 입니다
올해는 2023년 입니다
올해는 2024년 입니다

In [13]:
print('가격은 %10d 입니다.' % 15000000)
print('가격은 %10d 입니다.' % 1500)

가격은   15000000 입니다.
가격은       1500 입니다.

In [17]:
## 여러 항목 동시에 넣기
print('오늘은 %4d년 %2d월 %2d일 입니다.' % (2024, 7, 16))

오늘은 2024년  7월 16일 입니다.

In [22]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000, 1950000, 31900, 86600]

In [24]:
for com, sto in zip(company, stock):
    print("%s 의 주가는 %d원 입니다." % (com, sto))

삼성전자 의 주가는 71800원 입니다.
LG전자 의 주가는 121000원 입니다.
현대차 의 주가는 1950000원 입니다.
대한항공 의 주가는 31900원 입니다.
하나투어 의 주가는 86600원 입니다.

In [27]:
for com in enumerate(zip(company, stock)):
    print(com)
#print(com[1][0], com[1][1])
#print(len(com))

(0, ('삼성전자', 71800))
(1, ('LG전자', 121000))
(2, ('현대차', 1950000))
(3, ('대한항공', 31900))
(4, ('하나투어', 86600))
하나투어 86600
2

## 2. format 메서드 사용하기, f-string 문자열 포매팅
* format 메서드 사용하기
  '{인덱스}'.format(값)

In [28]:
print('{0}의 주가는 {1}원 입니다.'.format('삼성전자', 71800))

삼성전자의 주가는 71800원 입니다.

format 메서드에 변수로 값 넣기

In [31]:
drama = '오징어 게임'
ranking = 1

print('넷플릭스 {0}위 드라마는 {1}입니다.'.format(drama, ranking))

넷플릭스 오징어 게임위 드라마는 1입니다.

In [33]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000, 1950000, 31900, 86600]

for com, sto in zip(company, stock):
    print("{0}의 주가는 {1}원 입니다.".format(com, sto))

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 121000원 입니다.
현대차의 주가는 1950000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

f-string으로 값 넣기 python 3.6부터 사용 가능

In [35]:
for com, sto in zip(company, stock):
    print(f'{com}의 주가는 {sto}원 입니다.')

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 121000원 입니다.
현대차의 주가는 1950000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

In [ ]:
## 3. format 메서드와 f-string으로 문자열 정렬하기, 자리수 지정해 출력하기
* '{인덱스: < 길이}'.format(값)
f'{값:<길이}'

In [36]:
print('{0:<10}'.format('삼성전자'))

삼성전자

In [38]:
# < 10   공간을 10칸 확보하고 글자를 왼쪽 정렬
'{0:<10}'.format('삼성전자')
# > 10   공간을 10칸 확보하고 글자를 오른쪽 정렬
'{0:>10}'.format('삼성전자')

'      삼성전자'

In [41]:
print(f"{'삼성전자':<10}")

삼성전자

숫자 자리수 맞추고 기본 값 지정하기<br>
* '{인덱스:채울 숫자 길이 서식지정자}'.format(값)<br>
단, 서식 지정자에서 %는 빼고 적는다.<br>
* f'{값:채울 숫자길이 서식지정자}'

In [45]:
# 1자리 숫자 앞에 0 추가하기
print('{0:02d}'.format(1))

01

In [48]:
print(f'{1:02d}월')

01월

In [50]:
print('{0:08.3f}'.format(2.2345678))

0002.235

In [52]:
for m in range(1,13):
    if m == 2:
        for d in range(1,29):
            print(f'{m:02d}월 {d}일')
    elif m in (1,3,5,7,8,10,12):
        for d in range(1,32):
            print(f'{m:02d}월 {d}일')
    else:
        for d in range(1,31):
            print(f'{m:02d}월 {d}일')

01월 1일
01월 2일
01월 3일
01월 4일
01월 5일
01월 6일
01월 7일
01월 8일
01월 9일
01월 10일
01월 11일
01월 12일
01월 13일
01월 14일
01월 15일
01월 16일
01월 17일
01월 18일
01월 19일
01월 20일
01월 21일
01월 22일
01월 23일
01월 24일
01월 25일
01월 26일
01월 27일
01월 28일
01월 29일
01월 30일
01월 31일
02월 1일
02월 2일
02월 3일
02월 4일
02월 5일
02월 6일
02월 7일
02월 8일
02월 9일
02월 10일
02월 11일
02월 12일
02월 13일
02월 14일
02월 15일
02월 16일
02월 17일
02월 18일
02월 19일
02월 20일
02월 21일
02월 22일
02월 23일
02월 24일
02월 25일
02월 26일
02월 27일
02월 28일
03월 1일
03월 2일
03월 3일
03월 4일
03월 5일
03월 6일
03월 7일
03월 8일
03월 9일
03월 10일
03월 11일
03월 12일
03월 13일
03월 14일
03월 15일
03월 16일
03월 17일
03월 18일
03월 19일
03월 20일
03월 21일
03월 22일
03월 23일
03월 24일
03월 25일
03월 26일
03월 27일
03월 28일
03월 29일
03월 30일
03월 31일
04월 1일
04월 2일
04월 3일
04월 4일
04월 5일
04월 6일
04월 7일
04월 8일
04월 9일
04월 10일
04월 11일
04월 12일
04월 13일
04월 14일
04월 15일
04월 16일
04월 17일
04월 18일
04월 19일
04월 20일
04월 21일
04월 22일
04월 23일
04월 24일
04월 25일
04월 26일
04월 27일
04월 28일
04월 29일
04월 30일
05월 1일
05월 2일
05월 3일
05월 4일
05월 5일
05월 6일
05월 7일
05월 8일
05월 9일
05월 10일
05월 11일
05월 12일
05월 13일
05월 14일
05월 15일
05월 16일
05월 17일
05월 18일
05월 19일
05월 20일
05월 21일
05월 22일
05월 23일
05월 24일
05월 25일
05월 26일
05월 27일
05월 28일
05월 29일
05월 30일
05월 31일
06월 1일
06월 2일
06월 3일
06월 4일
06월 5일
06월 6일
06월 7일
06월 8일
06월 9일
06월 10일
06월 11일
06월 12일
06월 13일
06월 14일
06월 15일
06월 16일
06월 17일
06월 18일
06월 19일
06월 20일
06월 21일
06월 22일
06월 23일
06월 24일
06월 25일
06월 26일
06월 27일
06월 28일
06월 29일
06월 30일
07월 1일
07월 2일
07월 3일
07월 4일
07월 5일
07월 6일
07월 7일
07월 8일
07월 9일
07월 10일
07월 11일
07월 12일
07월 13일
07월 14일
07월 15일
07월 16일
07월 17일
07월 18일
07월 19일
07월 20일
07월 21일
07월 22일
07월 23일
07월 24일
07월 25일
07월 26일
07월 27일
07월 28일
07월 29일
07월 30일
07월 31일
08월 1일
08월 2일
08월 3일
08월 4일
08월 5일
08월 6일
08월 7일
08월 8일
08월 9일
08월 10일
08월 11일
08월 12일
08월 13일
08월 14일
08월 15일
08월 16일
08월 17일
08월 18일
08월 19일
08월 20일
08월 21일
08월 22일
08월 23일
08월 24일
08월 25일
08월 26일
08월 27일
08월 28일
08월 29일
08월 30일
08월 31일
09월 1일
09월 2일
09월 3일
09월 4일
09월 5일
09월 6일
09월 7일
09월 8일
09월 9일
09월 10일
09월 11일
09월 12일
09월 13일
09월 14일
09월 15일
09월 16일
09월 17일
09월 18일
09월 19일
09월 20일
09월 21일
09월 22일
09월 23일
09월 24일
09월 25일
09월 26일
09월 27일
09월 28일
09월 29일
09월 30일
10월 1일
10월 2일
10월 3일
10월 4일
10월 5일
10월 6일
10월 7일
10월 8일
10월 9일
10월 10일
10월 11일
10월 12일
10월 13일
10월 14일
10월 15일
10월 16일
10월 17일
10월 18일
10월 19일
10월 20일
10월 21일
10월 22일
10월 23일
10월 24일
10월 25일
10월 26일
10월 27일
10월 28일
10월 29일
10월 30일
10월 31일
11월 1일
11월 2일
11월 3일
11월 4일
11월 5일
11월 6일
11월 7일
11월 8일
11월 9일
11월 10일
11월 11일
11월 12일
11월 13일
11월 14일
11월 15일
11월 16일
11월 17일
11월 18일
11월 19일
11월 20일
11월 21일
11월 22일
11월 23일
11월 24일
11월 25일
11월 26일
11월 27일
11월 28일
11월 29일
11월 30일
12월 1일
12월 2일
12월 3일
12월 4일
12월 5일
12월 6일
12월 7일
12월 8일
12월 9일
12월 10일
12월 11일
12월 12일
12월 13일
12월 14일
12월 15일
12월 16일
12월 17일
12월 18일
12월 19일
12월 20일
12월 21일
12월 22일
12월 23일
12월 24일
12월 25일
12월 26일
12월 27일
12월 28일
12월 29일
12월 30일
12월 31일

.format f-string으로 url 자동 생성하기 sosok 부분의 값을 01-10까지 변경

In [60]:
url = 'https://finance.naver.com/sise/sise_trans_style.naver?sosok=01'

In [53]:
for sosok in range(1,11):
    print(f'https://finance.naver.com/sise/sise_trans_style.naver?sosok={sosok:02d}')

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10

In [58]:
for sosok in range(1,11):
    print('https://finance.naver.com/sise/sise_trans_style.naver?sosok={0:02d}'.format(sosok))

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10

In [76]:
for sosok in range(1,11):
    newurl = url.replace(url[-2:],'{0:02d}'.format(sosok))
    print(newurl)

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10

In [ ]:
파일 이름을 한 번에 바꾸기
숫자로 되어 있는 1자리 혹은 2자리 수 파일 이름을 앞을 0을 채우는 3자리 숫자 형태의 문자열로 이름을 변경

In [77]:
img_list = ['1.jpg', '10.jpg', '11.jpg', '2.jpg', '3.png']

In [140]:
img_list2 = []

for i in img_list:
    new = '{0:0>7}'.format(i) #포맷은 0이 i를 뜻함!
    img_list2.append(new)

print(img_list2)

['001.jpg', '010.jpg', '011.jpg', '002.jpg', '003.png']

In [141]:
img_list2 = []

for i in img_list:
    new = f'{i:0>7}'
    img_list2.append(new)

print(img_list2)

['001.jpg', '010.jpg', '011.jpg', '002.jpg', '003.png']

In [138]:
img_list3 = ['{0:0>7}'.format(i) for i in img_list]
img_list3

['001.jpg', '010.jpg', '011.jpg', '002.jpg', '003.png']