# 함수 만들기

* print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌

In [2]:
L = [1,2,3,4,5]

result = []
for i in L:
    result.append(i*10)
result

[10, 20, 30, 40, 50]

## 1) 함수 만드는 법
def 함수이름():
___실행 코드
___return 리턴 값

In [3]:
def hello():
    print("hello 파이썬 함수 만들기")

In [4]:
hello()

hello 파이썬 함수 만들기

## 2) 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 실행보다 위에 있어야 한다.

In [5]:
# 매개변수 1개짜리 함수
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14

def circle(c):
    print("원의 넓이는: ", c * c * 3.14, "입니다")
    return c * c * 3.14

In [7]:
circle(5)

원의 넓이는:  78.5 입니다

78.5

In [10]:
# 매개변수 2개짜리 함수 - 덧셈 함수 만들기

def add(a,b):
    return a + b

In [11]:
result = add(10, 3)
print("result:", result)

result: 13

In [12]:
add(999, 123672134325)

123672135324

In [ ]:
매개 변수 3개짜리 함수 - a: 시작, b:끝, c: 증감 <br>
interval이라는 이름의 함수를 만드세요.<br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요.<br>
interval(1, 10, 2) <br>
1,3,5,7,9

In [14]:
def num_maker(a, b, c):
    print([i for i in range(a, b, c)])

In [15]:
num_maker(1, 10, 2)

[1, 3, 5, 7, 9]

리턴 값이 여러 개인 함수

In [18]:
def add_sub(a, b):
    add = a + b
    sub = a - b
    return add, sub

In [19]:
add_sub(7, 3)

(10, 4)

In [20]:
result = add_sub(7, 3)
print(type(result))

<class 'tuple'>

In [21]:
def num_maker2(a, b, c):
    asc = [i for i in range(a, b, c)]
    desc = [i for i in range(a, b, c)][::-1]
    return asc, desc

In [23]:
num_maker2(1, 10, 2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

In [ ]:
## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

In [25]:
# 1~10까지 숫자 중에 짝수만 출력하다가 7이상이 되면 종료하기

age = range(1,11)

def even(a):
    for i in age:
        if i % 2 == 0:
            print(i, end=" ")
        elif i >= 7:
            break

In [26]:
even(age)

2 4 6

In [27]:
def even2(a):
    for i in age:
        if i % 2 == 0:
            print(i, end=" ")
        elif i >= 7:
            return

In [28]:
even(age)

2 4 6

In [ ]:
#1-100까지 숫자중에 홀수만 출력하다가 51번째에 종료하는 odd 함수 만들기

In [49]:
num = range(1,100)

def odd(num):
    for i in num:
        if i % 2 != 0:
            print(i, end = " ")
        elif i >= 51:
            return

In [50]:
odd(num)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [ ]:
## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치 인수(positional argument)
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [51]:
def print_nums(a, b, c):
    print(a, b, c)

In [52]:
print_nums(10, 20, 30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때<br>
위치 인수와 개수가 같으면 * 로 언패킹이 가능

In [54]:
p = [10, 20, 30]

In [56]:
print_nums(*p)

10 20 30

In [57]:
print_nums(p)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

In [ ]:
print("a", "b", "c")

In [59]:
def sum2(*args):
    hap = 0
    for i in args:
        hap += i
    return hap

In [61]:
def sum3(*nums):
    hap = 0
    for i in nums:
        hap += i
    return hap

In [64]:
sum3(1,7)

8

In [71]:
def sum3(*nums): #튜플로 만들어줌
    print(nums)
    print(type(nums))
    return sum(nums)

In [67]:
sum3(1, 1, 3, 5, 6, 7, 8,)

31

In [72]:
L1 = [1,2,3,4,5,6]

sum3(L1) # sum 함수는 리스트를 계산할 수 없으므로 return에서 오류

([1, 2, 3, 4, 5, 6],)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [73]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [75]:
list_tuple_func(1,2.3,3,4,5)

(1, 2.3, 3, 4, 5)
<class 'tuple'>

In [76]:
list_tuple_func([1,2,3],[4,5,6],[7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

고정인수와 가변인수 함께 사용하기
* 고정인수와 가변인수를 함께 사용할 때는 반드시
* 고정인수, 가변인수 순으로 넣고 가변 인수는 항상 가장 마지막에 넣는다.<br>
def sum(a, *args) : O
def sum(*args, a) : X

정수와 리스트를 입력받아 리스트의 요소에 입력받은 정수를 곱한 값의 리스트를 반환하는 함수
3, [1,2,3,4,5]
[3,6,9,12,15]

In [79]:
def muls(a,*args):
    result = []
    for num in args:
        print(a * num, end = " ")
        result.append(a * num)
    return result

In [81]:
muls(3, *[1,2,3,4,5])
# muls(3, 1,2,3,4,5) 도 됨, 가변인자를 지정해주었기 때문에.

3 6 9 12 15

[3, 6, 9, 12, 15]

In [82]:
muls(*L2, 3) #가변인수 바뀌어서 오류

NameError: name 'L2' is not defined