# 함수 만들기

* print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌

In [2]:
L = [1,2,3,4,5]

result = []
for i in L:
    result.append(i*10)
result

[10, 20, 30, 40, 50]

## 1) 함수 만드는 법
def 함수이름():
___실행 코드
___return 리턴 값

In [3]:
def hello():
    print("hello 파이썬 함수 만들기")

In [4]:
hello()

hello 파이썬 함수 만들기

## 2) 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 실행보다 위에 있어야 한다.

In [5]:
# 매개변수 1개짜리 함수
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14

def circle(c):
    print("원의 넓이는: ", c * c * 3.14, "입니다")
    return c * c * 3.14

In [7]:
circle(5)

원의 넓이는:  78.5 입니다

78.5

In [10]:
# 매개변수 2개짜리 함수 - 덧셈 함수 만들기

def add(a,b):
    return a + b

In [11]:
result = add(10, 3)
print("result:", result)

result: 13

In [12]:
add(999, 123672134325)

123672135324

In [ ]:
매개 변수 3개짜리 함수 - a: 시작, b:끝, c: 증감 <br>
interval이라는 이름의 함수를 만드세요.<br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요.<br>
interval(1, 10, 2) <br>
1,3,5,7,9

In [14]:
def num_maker(a, b, c):
    print([i for i in range(a, b, c)])

In [15]:
num_maker(1, 10, 2)

[1, 3, 5, 7, 9]

리턴 값이 여러 개인 함수

In [18]:
def add_sub(a, b):
    add = a + b
    sub = a - b
    return add, sub

In [19]:
add_sub(7, 3)

(10, 4)

In [20]:
result = add_sub(7, 3)
print(type(result))

<class 'tuple'>

In [21]:
def num_maker2(a, b, c):
    asc = [i for i in range(a, b, c)]
    desc = [i for i in range(a, b, c)][::-1]
    return asc, desc

In [23]:
num_maker2(1, 10, 2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

In [ ]:
## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

In [25]:
# 1~10까지 숫자 중에 짝수만 출력하다가 7이상이 되면 종료하기

age = range(1,11)

def even(a):
    for i in age:
        if i % 2 == 0:
            print(i, end=" ")
        elif i >= 7:
            break

In [26]:
even(age)

2 4 6

In [27]:
def even2(a):
    for i in age:
        if i % 2 == 0:
            print(i, end=" ")
        elif i >= 7:
            return

In [28]:
even(age)

2 4 6

In [ ]:
#1-100까지 숫자중에 홀수만 출력하다가 51번째에 종료하는 odd 함수 만들기

In [49]:
num = range(1,100)

def odd(num):
    for i in num:
        if i % 2 != 0:
            print(i, end = " ")
        elif i >= 51:
            return

In [50]:
odd(num)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [ ]:
## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치 인수(positional argument)
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [51]:
def print_nums(a, b, c):
    print(a, b, c)

In [52]:
print_nums(10, 20, 30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때<br>
위치 인수와 개수가 같으면 * 로 언패킹이 가능

In [54]:
p = [10, 20, 30]

In [56]:
print_nums(*p)

10 20 30

In [57]:
print_nums(p)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

In [ ]:
print("a", "b", "c")

In [59]:
def sum2(*args):
    hap = 0
    for i in args:
        hap += i
    return hap

In [61]:
def sum3(*nums):
    hap = 0
    for i in nums:
        hap += i
    return hap

In [64]:
sum3(1,7)

8

In [71]:
def sum3(*nums): #튜플로 만들어줌
    print(nums)
    print(type(nums))
    return sum(nums)

In [67]:
sum3(1, 1, 3, 5, 6, 7, 8,)

31

In [72]:
L1 = [1,2,3,4,5,6]

sum3(L1) # sum 함수는 리스트를 계산할 수 없으므로 return에서 오류

([1, 2, 3, 4, 5, 6],)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [73]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [75]:
list_tuple_func(1,2.3,3,4,5)

(1, 2.3, 3, 4, 5)
<class 'tuple'>

In [76]:
list_tuple_func([1,2,3],[4,5,6],[7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

고정인수와 가변인수 함께 사용하기
* 고정인수와 가변인수를 함께 사용할 때는 반드시
* 고정인수, 가변인수 순으로 넣고 가변 인수는 항상 가장 마지막에 넣는다.<br>
def sum(a, *args) : O
def sum(*args, a) : X

정수와 리스트를 입력받아 리스트의 요소에 입력받은 정수를 곱한 값의 리스트를 반환하는 함수
3, [1,2,3,4,5]
[3,6,9,12,15]

In [79]:
def muls(a,*args):
    result = []
    for num in args:
        print(a * num, end = " ")
        result.append(a * num)
    return result

In [81]:
muls(3, *[1,2,3,4,5])
# muls(3, 1,2,3,4,5) 도 됨, 가변인자를 지정해주었기 때문에.

3 6 9 12 15

[3, 6, 9, 12, 15]

In [82]:
muls(*L2, 3) #가변인수 바뀌어서 오류

NameError: name 'L2' is not defined

개인 정보를 출력하는 함수

In [2]:
def personal_info(name, age, address):
    print('이름', name)
    print('나이', age)
    print('주소', address)

In [3]:
personal_info('홍길동', 30, '서울시 강남구')

이름 홍길동
나이 30
주소 서울시 강남구

* 위의 함수는 인수의 순서를 모두 기억해야 하기 때문에 사용하기 어려움
* 인수의 순서와 용도를 매번 기억하지 않도록 하기 위해서 키워드 인수(keyword argument) 사용
* 예) print("python", sep=" ", end ="\") sep, end => 키워드 인수

In [4]:
dict(key='value')

{'key': 'value'}

personal_info를 키워드 인수 방식으로 호출
* 인수 순서나 위치가 바뀌어도 동작

In [5]:
personal_info(name='홍길동', age =30, address="서울시 강남구")

이름 홍길동
나이 30
주소 서울시 강남구

In [6]:
print("python", "hello", end="\t", sep=" : ")

python : hello

In [7]:
def my_print2(end, sep, *args):
    print(args)
    pass

In [8]:
my_print2(*(3,4))

()

In [9]:
p_info = dict(name='홍길동', age =30, address="서울시 강남구")

In [14]:
personal_info(**p_info) #언패킹하여 삽입, 딕셔너리는 키랑 밸류 2개이므로 별 두개

이름 홍길동
나이 30
주소 서울시 강남구

키워드 인수를 사용하는 가변인수 함수 만들기<br>
def 함수이름(**kwargs):   keyowrd arguments
___ 코드
___ 리턴

In [15]:
def personal_info2(**kwargs):
    print("kwargs:", kwargs)
    print("kwargs type:", type(kwargs))

In [16]:
personal_info2(name="홍길동")

kwargs: {'name': '홍길동'}
kwargs type: <class 'dict'>

*args 는 튜플 / **kwargs는 딕셔너리

In [17]:
personal_info2(name="홍길동", age=30, address="서울시 강남구", school="강남 고등학교")

kwargs: {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type: <class 'dict'>

In [18]:
d = dict(name="홍길동", age=30, address="서울시 강남구", school="강남 고등학교")

In [19]:
personal_info2(**d)

kwargs: {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type: <class 'dict'>

In [25]:
def personal_info3(**kwargs):
    print("kwargs:", kwargs)
    print("kwargs type:", type(kwargs))
    for key,value in kwargs.items():
        print(key, value)

In [26]:
personal_info3(**d)

kwargs: {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type: <class 'dict'>
name 홍길동
age 30
address 서울시 강남구
school 강남 고등학교

고정인수와 키워드 가변인수 함께 사용하기
* 고정인수, **키워드 인수 순으로 와야 함

In [28]:
def personal_info4(name, **kwargs):
    print("name:", name)
    print("kwargs:", kwargs)

In [29]:
personal_info4('홍길동')

name: 홍길동
kwargs: {}

In [30]:
personal_info4('홍길동', age = 30, address = '서울시 강남구')

name: 홍길동
kwargs: {'age': 30, 'address': '서울시 강남구'}

가변인수와 가변 키워드인수 함께 쓰기
* def 함수명(*args, **kwargs):
* def 함수명(고정인자, *args, **kwargs):

In [31]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs) #1,2,3을 튜플로 받았다가 다시 풀어줌.
custom_print(1,2,3, sep=" !! ", end = "")

1 !! 2 !! 3

매개변수 = 함수 내에서 사용되는 변수
* 위치 인수 : 위치가 고정된 매개변수
* 가변 인수 : 여러 개의 자료를 동시에 받을 수 있는 매개변수 => tuple로 들어옴
* 키워드 가변 인수 : 여러 개의 자료를 동시에 받을 수 있는데 key=value 형태로 받는 매개변수 => dict로 들어옴

In [33]:
#매개변수에 초기값 저장하기(기본 값 설정)
def personal_info5(name, age, address = "비공개"):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [34]:
personal_info5('홍길동', 30, '서울시 강남구')

이름: 홍길동
나이: 30
주소: 서울시 강남구

In [36]:
personal_info5('김호식', 10)

이름: 김호식
나이: 10
주소: 비공개

매개변수의 종류에 따른 순서
* 위치인수, 위치인수=기본값, *args, ##kwargs

In [37]:
def personal_info6(address = "비공개", *args, **kwargs):
    print('args:', args)
    print('kwargs:', kwargs)
    print('주소:', address)

In [39]:
personal_info6("홍길동", 1,2,3,4, name='홍길동', age=30)

args: (1, 2, 3, 4)
kwargs: {'name': '홍길동', 'age': 30}
주소: 홍길동

함수 Doc 스트링 사용하기
* 함수의 기능을 설명하거나 사용법을 함수 내에 적어 놓는 것
def 함수이름(매개변수):<br>
____""" 독스트링으로 설명 적기 """ <br>
____실행 코드
____return
* 독스트링은 함수 실행시에는 출력되지 않음
* print(함수이름.doc)
* help(함수이름)

In [40]:
print()

In [41]:
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    return a + b

In [42]:
add(10, 5)

15

In [44]:
add #shift+tap시, 상세 설명 안내

In [45]:
print(add.__doc__)

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [46]:
dir([1,2,3,4])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## 람다 표현식 (lambda expession)
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
* 익명함수(함수명이 없음)
* 사용 후 메모리에서 삭제

In [47]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x):
    return x + 10

In [48]:
# def lambda():
(lambda x : x + 10)(5)

15

람다 함수를 병수에 넣고 변수에 인수를 넣어서 호출

In [67]:
plus_five = lambda x : x + 5

In [68]:
plus_five(5)

10

In [64]:
a, b, c, d = map(int, ['1', '2', '4', '5'])

In [65]:
print(a, b, c, d)

1 2 4 5

In [71]:
result = map(plus_five, [1,2,3,4,5])
print(list(result))

[6, 7, 8, 9, 10]

In [72]:
list(map(lambda x : x + 10, [1,2,3,4,5]))

[11, 12, 13, 14, 15]

In [74]:
x = [1,2,3,4,5]
def plus_10(x):
    hap = []
    for i in x:
        hap.append(i + 10)
    return hap

# def plus_10(x):
#     return [i + 10 for i in x]

plus_10(x)

[11, 12, 13, 14, 15]

In [ ]:
람다표현식에 조건부 표현식 사용하기

In [75]:
# 3의 배수만 문자열로 바꾸기 str()
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
# def tostr3(a):
#     result = []
#     for i in a:
#         if i % 3 == 0:
#             result.append(str(i))
#         else:
#             result.append(i)
#     return result

# 3의 배수만 문자열로 바꾸기 str()
# 조건문 
list(map(lambda i: str(i) if i % 3 ==0 else i, a)) #lambda함수 안에 a가 하나씩 들어가도록

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [108]:
# apply(lambda i: str(i) if i % 3 ==0 else i) #pandas

In [109]:
a = [1,2,3,4,5]
b = [2,4,6,8,10]
c = [3,6,9,12,15]

In [110]:
list(map(lambda x, y, z: z * y * z, a, b, c))

[18, 144, 486, 1152, 2250]